@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}

.border-gradient {
  border: 2px solid;
  border-image: linear-gradient(45deg, #969696 100%, #343434 100%);
  border-image-slice: 2;
}